---
import type { z } from "astro/zod";
import ReactIcons from "@/helpers/ReactIcons.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { pricingSectionSchema } from "@/sections.schema";
import CustomButton from "../CustomButton.astro";

type PricingCardType = NonNullable<
  z.infer<typeof pricingSectionSchema>
>["list"][0];

type Props = {
  content: PricingCardType;
  class?: string;
};

const {
  class: className,
  content: { enable, name, price, description, features, button },
  ...rest
} = Astro.props;
---

{
  enable && (
    <div
      class:list={[
        "bg-bg-secondary flex flex-col justify-between space-y-10 p-8 text-text-primary",
        className,
      ]}
      style="border-radius: var(--radius-card); box-shadow: var(--shadow-card);"
      {...rest}>
      <div class="space-y-4">
        <div>
          {name && (
            <h3
              class="text-title-2-bold"
              set:html={markdownify(name)}
            />
          )}
          {price && (
            <div class="text-large-title-bold font-secondary text-text-primary">
              {price.prependValue}
              {price.value}
              <span class="text-title-3-regular">{price.appendValue}</span>
            </div>
          )}
        </div>
        {description && (
          <p class="text-title-3-regular text-text-secondary" set:html={markdownify(description)} />
        )}
      </div>
      {features && (
        <ul class="font-secondary space-y-4 text-callout-semibold text-text-primary">
          {features.map((feature) => (
            <li class="flex items-center gap-2">
              <ReactIcons icon="IoMdCheckmark" class="text-title-2-bold text-accent-green" />
              <span set:html={markdownify(feature)} />
            </li>
          ))}
        </ul>
      )}
      {button?.enable && (
        <CustomButton
          class="effect-color-accent text-center"
          hoverEffect="creative-fill"
          {...button}
        />
      )}
    </div>
  )
}
